* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: #0f1b4c;
    min-width: 98px;
    border-radius: 12px;

    padding: 18px 16px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;

    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

/* ===================== Header ======================= */

.fixed-header {
    padding-top: 26px;
    background: #e6f0ff;

    position: sticky;
    top: -26px;
    z-index: 10;
}
/* Nav Bar */
.fixed-header .nav-bar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.fixed-header .nav-bar ul {
    display: flex;
    margin-left: 64px;
}

.fixed-header .nav-bar li {
    margin-left: 28px;
}

.fixed-header .nav-bar ul li a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #4f5361;
}

.fixed-header .nav-bar ul li:hover {
    text-decoration: underline;
}

.fixed-header .nav-bar .actions {
    margin-left: auto;
}

.fixed-header .nav-bar .actions .sign-in {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;

    color: #0f1b4c;
}

.fixed-header .nav-bar .actions .sign-up {
    margin-left: 18px;
    font-size: 1.4rem;
    padding: 13px 16px;
    border-radius: 8px;
}

/* Hero */

.hero-wrap {
    position: relative;
    height: calc(100vh - 90px);
    background: #e6f0ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-wrap .hero .info {
    width: 51%;
}

.hero-wrap .hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero-wrap .hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero-wrap .hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-wrap .hero .btn-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-wrap .hero .hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100% - 1110px) / 2 - 100px);
}

/* ================== CLient ======================= */

.clients {
    padding: 122px 0 81px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    background: #ffffff;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.clients .images {
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ========================== Guide ======================== */
.guides {
    padding: 93px 0 80px;
}

.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides .sub-title::before {
    content: "";
    background: #000339;
    border-radius: 12px;

    /* display: inline-block; */
    height: 4px;
    width: 41px;

    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    margin: 20px auto 0;

    width: 459px;
    max-width: 100%;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;

    text-align: center;
    color: #5a6473;
}
.guides .list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.guides .item {
    text-align: center;
}

.guides .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}

.guides .link {
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guides .link .arrow {
    margin-left: 8px;
}

.guides .guide-cta {
    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.guides .guide-cta .btn {
    min-width: 170px;
}

/* ====================== FEATURES =========================*/

.features {
    margin-top: 40px;
    padding: 110px 0;
    background-color: #f5fafe;
}

.features .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    color: #000339;
}

.features .row {
    display: flex;
}

.features .row-body {
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.features .link {
    display: flex;
    align-items: center;
}

.features .link span {
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.features .link img {
    margin-left: 8px;
}

.features .list {
    gap: 30px;
    margin-top: 70px;
}

.features .item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
}

.features .item a img {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.features .item .body {
    padding: 17px 20px 22px;
}

.features .item .title {
    font-weight: 600;
    font-size: 2rem;
    color: #000339;
}

.features .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #a3a6ab;
}

.features .item .info {
    margin-top: 21px;
    display: flex;
    gap: 22px;
}

.features .item .info-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.features .item .info-item span {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4d4d52;
}

/* ===================== STATS ======================= */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .stats-img {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 12px;
}

.stats .info {
    padding: 80px 0 0 165px;
}

.stats .info .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
    width: 269px;

    position: relative;
}
.stats .info .title::before {
    content: "";
    display: block;
    height: 4px;
    width: 41px;
    background: #000339;
    border-radius: 12px;

    position: absolute;
    top: -10px;
    left: 0;
}

.stats .info .desc {
    margin-top: 40px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
    width: 309px;
}
.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;

    width: 239px;
    padding: 45px 22px 40px;

    background: #ffffff;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.stats .stats-trend .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats .stats-trend .row strong {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats .stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}
.stats .stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    margin-top: 25px;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

    background-color: var(--bg-color, #fff);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.72rem;
    color: #ffffff;
}

.stats .avatar-group .avatar + .avatar {
    margin-left: -3px;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

.stats .row-qty .qty-value {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}
.stats .row-qty .qty-desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
}

/* ===================== Subscription=========================== */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    height: 370px;
    background: #063183;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.subscription .info {
    width: 670px;
    padding: 0 80px;
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: #ffffff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ================== Footer ====================== */

.footer {
    margin-top: 55px;
    padding: 50px 0;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row-top {
    column-gap: 185px;
}
.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    color: #1c1c1d;
}

.footer .list {
    margin-top: 42px;
}

.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #7a7a7e;
    white-space: nowrap;
}

.footer .item:hover a {
    text-decoration: underline;
}

.footer .column .desc {
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #7a7a7e;
}

.footer .item + .item {
    margin-top: 18px;
}

.footer .social {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: #f9f9f9;
    border-radius: 4px;
}

.footer .social-link:hover {
    background-color: #ddd;
}

.footer .row-bottom {
    margin-top: 81px;

    align-items: center;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #c2c2c2;
}
